body {
    background-color: blue;
    margin: 0;
    font-family: Times New Roman'. Times. serif;

}

.inicio {
    display: flex;
    height: 100vh;
}

.foto {
    flex: 1;
    background-color: rgb(22, 207, 37);
    align-items: center;
    justify-content: center;
}

.foto img {
    width: 300px;
    height: auto;
    border-radius: 8px;
}